:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-green: hsl(158, 36%, 15%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--cream);
}

.container {
  display: flex;
  background-color: var(--white);
  max-width: 37rem;
  font-weight: 500;
  border-radius: 15px;
  overflow: hidden; /* correctly round image border corners */
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 0 50%;
  font-family: Montserrat;
  padding: 0 30px;
}

.product-image {
  max-width: 100%;
}

.product-category {
  font-size: 12px;
  letter-spacing: 3px;
  color: var(--dark-grayish-blue);
}

.product-name {
  font-family: Fraunces;
  font-size: 30px;
  line-height: 1;
  color: var(--very-dark-blue);
}

.product-description {
  font-family: Montserrat;
  color: var(--dark-grayish-blue);
  font-size: 13px;
  line-height: 18px;
}

.product-price {
  display: flex;
  align-items: center;
  font-family: Fraunces;
}

.product-price p:first-child {
  font-size: 32px;
  color: var(--dark-cyan);
  font-weight: 700;
}

.product-price del {
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  margin-left: 20px;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--dark-cyan);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: var(--dark-green);
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    height: 35rem;
    width: 20rem;
  }

  .product {
    height: 100%;
  }
}
